<div class="card-wrapper">
    <div class="example-2 card">
      <div class="wrapper" [style.background-image]="'url(https://thetvdb.com'+image+')'">
        <div class="wrapper-opacity"></div>
        <div class="header">
          <div class="date">
            <span class="day">Available from {{releaseDate}}</span>
          </div>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">{{runSource}}</span>
            <h1 class="title"><a href="#">{{movieTitle}}</a></h1>
            <p class="text">{{overview}}</p>
            <div *ngIf="!isSeries; else seriesDetail">
            <a [routerLink]="['/Detail', id]" [state]="link" class="button">Read more</a>
          </div>
          <ng-template #seriesDetail>
            <a [routerLink]="['/series' ,id, 'episodes']" [state]="link" class="button">Read more</a>
          </ng-template>
          </div>
        </div>
      </div>
    </div>
</div>