<div class="card-wrapper">
    <div class="example-2 card">
      <div class="wrapper" [style.background-image]="'url(https://thetvdb.com'+image+')'">
        <div class="wrapper-opacity"></div>
        <div class="header">
          <div class="date">
            <span class="day">Available from {{releaseDate}}</span>
          </div>
          <ul class="menu-content">
            <li>
              <a href="#" class="fa fa-bookmark-o"></a>
            </li>
            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">{{runSource}}</span>
            <h1 class="title"><a href="#">{{movieTitle}}</a></h1>
            <p class="text">{{overview}}</p>
            <a [routerLink]="['/Detail', id]" [state]="link" class="button">Read more</a>
          </div>
        </div>
      </div>
    </div>
</div>