<div class="detail-container ">
    <div class="row ml-0 background-image">
        <img src ='{{"https://thetvdb.com"+image}}'>
        <div class="col-md-4 ml-0 pl-0 image">
            <img src ='{{"https://thetvdb.com"+image}}'>
        </div>
        <div class="col-md-8">
            <h2 class="title-detail">
                {{seriesName}}
            </h2>
            <div class="facts">
                <span class="release-detail mr-3">&#8226; &nbsp;{{runSource}}</span>
                <button type="button" class="btn tag-style"><span class="badge">{{genre}}</span></button>
                <span class="runtime-detail mr-3 ml-3">&#8226; &nbsp;{{runTime}}</span>
            </div>
            <div class="actions-list ">
                <ul class="actions ">
                    <li><a href="#lists" title="Login to create and edit custom lists" ><fa-icon [icon]="faList"></fa-icon></a></li>
                    <li><a href="#favourite"  title="Add this movie to your favourite lists" ><fa-icon [icon]="faHeart"></fa-icon></a></li>
                    <li><a href="#watch" title="Add this movie to your watch lists"><fa-icon [icon]="faBookmark"></fa-icon></a></li>
                    <li><a href="#like" title="Rate this movie"><fa-icon [icon]="faStar"></fa-icon></a></li>
                    <button class="button"><a href="#play"><fa-icon [icon]="faPlay"></fa-icon></a></button>
                </ul>
            </div>
            <div class="overview-details">
                <h3>Overview</h3>
                <p class="pr-4">{{overview}}</p>
            </div>
            <div *ngFor="let actor of actors" class="actors-details">
                <div class="actors">
                <h5>{{ airsDayOfTheWeek }}</h5>
                <p class="overview-movie">Role:&nbsp;{{airsTime}}</p>
            </div>
            </div>
        </div>
    </div>
</div>
<app-movie-list></app-movie-list>