$background-color: #111111;
$primary-color: #000;
$secondary-color: #292929;
$accent-color: rgb(226, 0, 0);

$primary-text-color: #aaaaaa;

#app {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}
#sidebar {
    width: 100px;
    height: 2000vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

        img {
            width: 50%;
        }
    }

    #menu {
        margin: 0!important;
        padding: 0!important;

        li {
            list-style-type: none;
            a {
                display: block;
                height: 80px;
                width: 80px;
                color: $accent-color;
                font-size: 25px;
                text-align: center;
                line-height: 80px;
                transition: 0.2s;

                &:hover {
                    background-color: $accent-color;
                    color: $primary-color;
                }
            }
        }
    }
}

#image-dark-background-wrapper {
    z-index: -10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    background-color: rgba($background-color, 1);
}

#content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

