$background-color: #111111;
$primary-color: #000;
$secondary-color: #292929;
$accent-color: rgb(226, 0, 0);

$primary-text-color: #aaaaaa;

#app {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

#image-dark-background-wrapper {
    z-index: -10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color: rgba($background-color, 1);
}

#content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

