<div id="app">
    <div id="image-dark-background-wrapper">

    </div>
    <div id="sidebar">
        <div id="logo">
            <img src="https://seeklogo.com/images/A/a-letter-logo-BA0A595743-seeklogo.com.png" />
        </div>
        <ul id="menu">
            <li><a href="#lasamainpula"><fa-icon [icon]="faHome"></fa-icon></a></li>
            <li><a href="#lasamainpula"><fa-icon [icon]="faFilm"></fa-icon></a></li>
            <li><a href="#lasamainpula"><fa-icon [icon]="faHome"></fa-icon></a></li>
            <li><a href="#lasamainpula"><fa-icon [icon]="faHome"></fa-icon></a></li>
            <li><a href="#lasamainpula"><fa-icon [icon]="faHome"></fa-icon></a></li>
        </ul>
    </div>
    <div id="content-wrapper">
        <div id="topbar">
            <div class="search-input">
                <input type="text" class="big-searchbar" placeholder="Breaking bad..." />
                <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
            </div>
        </div>
        <div id="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>