.saved-for-later-container {
    margin-top: 200px;
    text-align: center;
}
.add-saved a {
    width: 100px;
    height: 100px;
    color: rgb(226, 0, 0);
}

.add-saved a:hover {
    color: #fff;
}
