$background-color: #111111;
$primary-color: #000;
$secondary-color: #292929;
$accent-color: rgb(226, 0, 0);

$primary-text-color: #aaaaaa;

#topbar {
    height: 90px;
    padding: 5px;
    background-color: $primary-color;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .search-input {
        min-width: 40%;
        max-width: 50%;

        display: flex;
        flex-direction: row;
        position: relative;
        
        .big-searchbar {
            width: 100%;
            height: 40px;
            padding: 15px;
            padding-left: 35px;

            background-color: $secondary-color;
            border-radius: 25px;
            border-color: transparent;
            outline: none;

            color: $primary-text-color;
        }

        .big-searchbar {
            cursor: text;
        }

        .search-icon {
            position: absolute;
            top: 8px;
            left: 15px;
            color: $primary-text-color;
        }
        .search-icon:hover{
            cursor: pointer;
        }
    }
}