.saved-for-later-container {
    margin-top: 200px;
    text-align: center;
}
.add-saved a {
    width: 200px;
    height: 400px;
    color: rgb(226, 0, 0);
}

.button {
   
    a {
        color: rgb(226, 0, 0);
        text-decoration: none;
    }
    
    a:hover {
        color: #fff;
    }
}